*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg,rgb(14, 36, 15), rgb(56, 182, 6));
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff;
    -webkit-animation: cores-teclas 5s steps(1) infinite; /* Safari 4+ */
    -moz-animation:    cores-teclas 5s steps(1) infinite; /* Fx 5+ */
    -o-animation:      cores-teclas 5s steps(1) infinite; /* Opera 12+ */
    animation:         cores-teclas 5s steps(1) infinite; /* IE 10+, Fx 29+ */
}
.botao:hover{
    background-color: black;
}
#resultado{
    background-color: white;
    width: 252px;
    height: 50px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 15px;
}
.conv {
    color: rgb(15, 185, 0);
    font-size:large;
    transform: rotate(-30deg)
    
}

  @-webkit-keyframes cores-teclas {
    0%  {background-color: #10A302;}
    20% {background-color: #43963c;}
    40% {background-color: #225a1d;}
    60% {background-color: #A3126C;}
    80%{background-color:  #F04AB1;}
  }
  @-moz-keyframes cores-teclas {
    0%  {background-color: #10A302;}
    20% {background-color: #43963c;}
    40% {background-color: #225a1d;}
    60% {background-color: #A3126C;}
    80%{background-color:  #F04AB1;}
  }
  @-o-keyframes cores-teclas {
    0%  {background-color: #10A302;}
    20% {background-color: #43963c;}
    40% {background-color: #225a1d;}
    60% {background-color: #A3126C;}
    80%{background-color:  #F04AB1;}
  }
  @keyframes cores-teclas {
    0%  {background-color: #10A302;}
    20% {background-color: #43963c;}
    40% {background-color: #225a1d;}
    60% {background-color: #A3126C;}
    80%{background-color:  #F04AB1;}
  }